{% extends "office/layout.html" %}

{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <header class="mb-3 border-bottom page-header sub-section">
        <div class="d-flex justify-content-center py-0">
            <ul class="nav">
                <li class="nav-item"><a href="{% url 'desks' %}" class="nav-link">Book a desk</a></li>
                <li class="nav-item"><a href="{% url 'desks_bookings' %}" class="nav-link active">My bookings</a></li>
            </ul>
        </div>
    </header>
    
    <div class="container-fluid">
        <div id="desks"></div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'office/index.js' %}"></script>
{% endblock %}