{% extends "office/layout.html" %}

{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <header class="mb-3 border-bottom page-header sub-section">
        <div class="d-flex justify-content-center py-0">
            <ul class="nav">
                <li class="nav-item"><a href="{% url 'rooms' %}" class="nav-link active">Book a room</a></li>
                <li class="nav-item"><a href="{% url 'rooms_bookings' %}" class="nav-link">My bookings</a></li>
            </ul>
        </div>
    </header>

    <div class="container-fluid">
        
        <form method="post" id="book-room">

            {% csrf_token %}

            <div class="row mb-2 preferences">
                <div class="col-sm-1 py-1 title">When</div>
                <div class="col-sm-11 options">
                    <ul class="nav nav-pills">
                        <li class="nav-item" id="date-today"><a href="{% url 'rooms' %}" class="nav-link active">Today</a></li>
                        <li class="nav-item" id="date-later"><a class="nav-link">Later</a></li>
                        <li class="nav-item" id="date-custom" style="display: none;"><input class="form-control"  type="text" id="datepicker" name="date" placeholder="Custom date"></li>
                    </ul>
                </div>
            </div>
            <div class="row mb-2 preferences">
                <div class="col-sm-1 py-1 title">Duration</div>
                <div class="col-sm-11 options">
                    <input class="btn-check" type="radio" name="duration" id="duration-15" value="15">
                    <label class="btn btn-outline-primary" for="duration-15">15 mins</label>
                    <input class="btn-check" type="radio" name="duration" id="duration-25" value="25" checked>
                    <label class="btn btn-outline-primary" for="duration-25">25 mins</label>
                    <input class="btn-check" type="radio" name="duration" id="duration-55" value="55">
                    <label class="btn btn-outline-primary" for="duration-55">55 mins</label>
                    <input class="btn-check" type="radio" name="duration" id="duration-85" value="85">
                    <label class="btn btn-outline-primary" for="duration-85">1 hour 25 mins</label>
                </div>
            </div>
            <div class="row mb-2 preferences">
                <div class="col-sm-1 py-1 title">Capacity</div>
                <div class="col-sm-11 options">
                    <input class="btn-check" type="radio" name="room-capacity" id="room-capacity-any" value="" checked>
                    <label class="btn btn-outline-primary" for="room-capacity-any">Any</label>
                    <input class="btn-check" type="radio" name="room-capacity" id="room-capacity-2" value="2">
                    <label class="btn btn-outline-primary" for="room-capacity-2">2</label>
                    <input class="btn-check" type="radio" name="room-capacity" id="room-capacity-4" value="4">
                    <label class="btn btn-outline-primary" for="room-capacity-4">4</label>
                    <input class="btn-check" type="radio" name="room-capacity" id="room-capacity-6" value="6">
                    <label class="btn btn-outline-primary" for="room-capacity-6">6</label>
                    <input class="btn-check" type="radio" name="room-capacity" id="room-capacity-12" value="12">
                    <label class="btn btn-outline-primary" for="room-capacity-12">12</label>
                </div>
            </div>
            <div class="row mb-2 preferences">
                <div class="col-sm-1 py-1 title">Amenities</div>
                <div class="col-sm-11 options">
                    {% for amenity in amenities %}
                        <input class="btn-check" type="checkbox" name="amenities" id="amenity-{{ amenity.id }}" value="{{ amenity.id }}" checked>
                        <label class="btn btn-outline-primary" for="amenity-{{ amenity.id }}">{{ amenity.name }}</label>
                    {% endfor %}
                </div>
            </div>
            <div class="row mb-2 preferences">
                <div class="col-sm-1 py-1 title">Floor</div>
                <div class="col-sm-11 options">
                    <input class="btn-check" type="radio" name="floors" id="floor-any" value="" checked>
                    <label class="btn btn-outline-primary" for="floor-any">Any</label>
                    {% for floor in floors %}
                        <input class="btn-check" type="radio" name="floors" id="floor-{{ floor.id }}" value="{{ floor.id }}">
                        <label class="btn btn-outline-primary" for="floor-{{ floor.id }}">{{ floor.name }}</label>
                    {% endfor %}
                </div>
            </div>

            <div class="row py-3 g-2">
                <div id="capacity"></div>
                <div class="row g-2" id="rooms"></div>
                <div class="form-submit-container py-2 fixed-bottom" style="display: none;">
                    <input class="btn btn-primary" type="submit" value="Book">
                </div>
            </div>

        </form>

    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'office/rooms.js' %}"></script>
    <script src="{% static 'office/lib/datepicker.min.js' %}"></script>
    <link href="{% static 'office/lib/datepicker.min.css' %}" rel="stylesheet">
{% endblock %}